*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.store{
    margin: auto;
    min-height: 100%;
    width: 60%;

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
    padding:30px ;
    color: brown;
}
.shoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.card{
    border-radius: 25px;
/* /border: 1px solid black; */
    width: 30%;
    height:100%;
    padding: 10px;
    box-shadow: 7px 7px 10px rgb(201,201,201) ;
   margin-bottom: 40px;
}
/* .card div:nth-child(1)>img{
width: 100%;
} */
 .image{
    width: 100%;
    height:290px;
    overflow: hidden;
    border-radius: 20px;
    
 }

.image>img{
    border-radius: 25px;
    width: 100%;
    /* height: 100px;  */
    object-fit: cover;   
}
.image > img:hover{ 
scale:1.3 ;
transition: 03s;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px ;

}
.description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cart>img{
    width: 30px;
}